$red: #e60023;
$hover-red: #ad081b;
$light-gray: #efefef;
$hover-light-gray: #e2e2e2;
$background-white: #fff;
$background-search: #fffd92;
$background-shop: #ffe2eb;
$search-text: #c31952;
$shop-text: #c32f00;
$text-black: #111;
$text-white: #fff;
